@media(max-width: 1440px){
  .History_container{
    margin: 20px;
  }
}

.History_big_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f4f5f9;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  color: #42567A;
}
.History_container{
  overflow-x: hidden;
  position: relative;
  border: none;
}