@media (min-width: 1440px){
  .circleLayout{
    width: 100%;
    position: absolute;
    max-height: 800px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
  .date{
    font-size: 56px;
    font-weight: 700;
    line-height: 67.2px;
    text-align: left;
    position: relative;
    padding-left: 80px;
    margin-top: 100px;
    grid-area: 1 / 1 / 3 / 3;
  }
  .button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px 20px 20px 0px;
    cursor: pointer;
    border: 1px solid #8f99ac;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color ease 0.2s
  }
  .numbers{
    text-align: center;
    font-size: 200px;
    font-weight: 700;
    grid-area: 3 / 2 / 4 / 10;
    z-index: 1;
  }
  .genre{
    text-align: start;
    margin: 50px;
    padding-top: 110px;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    grid-area: 1 / 7 / 3 / 9;
  }
  .counter{
    font-family: "Bebas Neue", sans-serif;
    margin-left: 80px;
    padding-top: 60px;
    grid-area: 4 / 1 / 6 / 3;
    font-family: PT Sans;
    font-size: 20px;
    font-weight: bold;
  }
  .date::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 15px; 
    width: 5px; 
    height: 115px; 
    background: linear-gradient(to bottom, #3877EE 0%, #EF5DA8 100%); 
  }
  .arrow{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    margin-top: -5px;
  }
  .range{
    padding-bottom: 20px;
  }
}
@media(max-width: 1440px){
  .circleLayout{
    display: flex;
    flex-direction: column
  }
  .date{
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    margin-top: 40px;
  }
  .numbers{
    font-size: 56px;
    font-weight: 700;
    line-height: 72.46px;
    letter-spacing: -0.02em;
    text-align: center;
    margin-top: 56px;
    margin-right: 35px;
  }
  .genre{
    text-align: start;
    font-weight: 700;
    margin-top: 30px;
  }
  .genre::after{
    content: '';
    display: block;
    border: 1px solid #C7CDD9;
    margin-top: 15px;
  }
  .counter{
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 0 0 0px 20px;
    z-index: 1;  
  }
  .button{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 8px 10px 10px 0px;
    cursor: pointer;
    border: 1px solid #8f99ac;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color ease 0.2s;
  }
}

.buttons{
  display: flex;
}
.button:hover{
  background-color: #ffffff;
  transition: ease 0.2s;
}
.disabled{
  opacity: 0.5;
  pointer-events: none;
  user-select: none;
}

.number_one{
  color: #3877ee;
}
.number_two{
  color: #ef5da8;
}
